/* Start af stylesheet */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hele siden bruger en Arial skrifttype, har en lys blå baggrund, og teksten er i en blå farve */
body {
  font-family: Arial, sans-serif;
  background-color: #d9f8ff;
  color: #1da8cf;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Giver header-elementet en lys blå baggrund, centrerer teksen og ændrer tekstfarven til hvid */
header {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #c2f0fb;
  color: rgb(70, 165, 255);
}

/* Skriftstørrelse */
header h1 {
  font-size: 2.5em;
}

/* Knap styling */
#toggleButton {
  padding: 10px 20px;
  background-color: #1da8cf;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}
/* Ændre knappens farve */
#toggleButton:hover {
  background-color: #0d60fb;
}

/* Styling for albumtabellerne */
.album-table {
  width: 90%;
  max-width: 1000px;
  margin: 20px 0;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.album-table th,
.album-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.album-table th {
  background-color: #afc3ef;
  color: white;
}

.album-table td {
  background-color: #f9f9f9;
}

.album-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.album-table tr:hover {
  background-color: #f1f1f1;
}

/* Styling for trackList */
.tracklist {
  list-style: none;
  padding: 0;
  font-size: 0.9em;
  color: #333;
}

.tracklist li {
  margin-bottom: 5px;
}
